.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.conButton {
    background-color: #aa00ff !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 100px;
    outline: none;
    height: 48px;
    width: 300px;
    font-size: 16px;
}

body {
    background-color: black;
}

.conButton a {
    color: white;
    text-decoration: none;
}
  
  .conButton a:hover {
    color: black;
}

.conButtonRow {
    padding: 16px 0px;
    max-width: 680px;
}
  
  .conButtonCollum {
    padding: 0px;
}